login:
  username: admin
  password: password

api:
  apikey: sample

global:
  broadcastAddress: 255.255.255.255

wol:
  macAddress: AA-AA-AA-AA-AA-AA
  port: 50022

crypt:
  key: 1234567890123456
  vec: abcdefghijklmnop
