login:
  username: admin
  password: password

global:
  broadcastAddress: 255.255.255.255

wol:
  macAddress: AA-AA-AA-AA-AA-AA
  port: 50022

logging:
  file:
    name: storage/log/raspi.log
  level:
    org.springframework.web: INFO
